nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links > li > a {
  color: white;
  text-decoration: none;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #808080;
  border: none;
  color: white;
  padding: 8px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

button > a {
  color: white;
  text-decoration: none;
}

.homepage {
}

.homepage > button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.sticky-cart {
  float: right;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

header {
  padding: 10px 0;
  background-color: red;
  margin-bottom: 5px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  color: white;
  width: 100%;
}

header h1 {
  font-size: 30px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  font-weight: bold;
  padding: 0 10px;
  margin: 0;
}

.shop-container {
  display: flex;
}

.shop-item {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 2px;
  margin: 40px 20px;
  position: relative;
  height: 480px;
  width: 250px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  transition: box-shadow 0.1s ease-in-out;
  text-align: left;
}

.shop-item > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  list-style-type: none;
}

.shop-item > .img-container > img {
  width: 60%;
}

.shop-item > .img-container > ul {
  list-style-type: none;
  padding: 0px;
}

.shop-item > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  background: #6caddc;
}

.animate {
  animation: shake 0.5s;
}
